nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  border-bottom: 3px solid #dfdfdf;
}
.searchBox{
  display: flex;
  background-color: #dfdfdf;
  width: 40vw;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
}
.searchInput{
  background: transparent;
  border: none;
  color: #9b9b9b;
  font-weight: 600;
  margin-left: 10px;
  width: 100%;
  outline: transparent;
}

.movieCardContainer{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-around;
  padding: 15px;
  min-height: auto;
  max-height: 91vh;
  overflow: scroll;
}

*::-webkit-scrollbar{
  display: none;
}
